body {
  background-color: #e9fcf7;
}
hr {
  border-style: none;
  border-top-style: outset;
  border-width: 5px;
  border-color: grey;
  

}
p {
  color: #0099ff;
}
ol {
  color: #0099ff;
}
ul {
  color: #0099ff;
}
h1 {
  color: #4ddbe6;
}

h3 {
  color: #00e673;
}
h1:hover{
  color: pink;
}
h3:hover{
  color: pink;
}
a:hover{
    color: #0099ff;
}
